img{
    width: 350px;
    height: 350px;
    margin-left: 50px;
}

body{
    background-image: url(../assets/pokeStadium.png);
    background-size: cover;
    background-repeat: none;
}

input[type=radio]:checked + img {
    border: 5px solid blue;
    padding: 10px;
    border-radius: 50%;
}

h2{
    color: red;
}

